.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background: #000;
  width: 95vw;
  height: 65vh;
  overflow: hidden;
  margin-bottom: 10%;
}

.carousel-img {
  width: 100vw;
  height: 65vh;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .carousel-img {
    max-width: 750px;
  }
}

@media (min-width: 1024px) {
  .carousel-container {
    margin-bottom: 5%;
  }
}
