.cart-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-top: 5px;
  margin: auto;
}

.shipping-info {
  display: block;
  margin-right: 5px;
  width: 57%;
  height: 90vh;
  border: solid lightgrey;
}

.title {
  margin-left: 2%;
}

.input {
  width: 40%;
  min-width: 150px;
}

.shipping-element {
  margin-top: 3%;
  margin-left: 2%;
}

.couplet {
  display: flex;
  margin-top: 3%;
  margin-left: 2%;
}
.checkbox-text {
  color: grey;
  font-size: small;
}

.continue-to-payment-button {
  color: black;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  width: 50%;
  margin-left: 2%;
  margin-top: 4%;
  border: solid black;
  border-radius: 8px;
}

.continue-to-payment-button:hover {
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  width: 50%;
  margin-left: 2%;
  margin-top: 4%;
}

.header {
  display: flex;
  flex-basis: 100%;
  background-color: rgb(223, 219, 219);
}

.cart-entry {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  border-bottom: solid lightgrey;
}

.cart-items {
  display: block;
  width: 40%;
  max-height: 40vh;
  overflow-y: scroll;
  border: solid lightgrey;
}
.cart-img {
  width: 80px;
  height: 80px;
  margin-right: 5%;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
}

.remove {
  width: 80px;
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.total {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.row {
  flex-basis: 100%;
}

.bold {
  font-weight: bold;
  margin-right: 5px;
}
