/* .cart-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-top: 5px;
  margin: auto;
}

.shipping-info {
  display: block;
  margin-right: 5px;
  width: 57%;
  height: 90vh;
  border: solid black;
}

.title {
  margin-left: 2%;
}

.input {
  width: 40%;
  min-width: 150px;
}

.shipping-element {
  margin-top: 3%;
  margin-left: 2%;
}

.couplet {
  display: flex;
  margin-top: 3%;
  margin-left: 2%;
}
.checkbox-text {
  color: black;
  font-size: small;
}

.continue-to-payment-button {
  color: black;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  width: 50%;
  margin-left: 2%;
  margin-top: 4%;
  border: solid black;
  border-radius: 8px;
}

.continue-to-payment-button:hover {
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  width: 50%;
  margin-left: 2%;
  margin-top: 4%;
}

.header {
  display: flex;
  flex-basis: 100%;
  background-color: rgb(223, 219, 219);
}
*/

/* .cart-entry {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  border-bottom: solid black;
}

.cart-items {
  display: block;
  width: 40%;
  max-height: 40vh;
  overflow-y: scroll;
  border: solid black;
  overflow: auto;
}
.cart-img {
  width: 80px;
  height: 80px;
  margin-right: 5%;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
}

.remove {
  width: 80px;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.total {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.row {
  flex-basis: 100%;
}

.bold {
  font-weight: bold;
  margin-right: 5px;
} */

/* shipping info */
.shipping {
  width: 80%;
}

.shipping .custom-btn {
  margin: auto;
}

.shipping__title {
  margin-bottom: 10px;
}

.shipping__flexcol {
  display: flex;
  flex-direction: column;
}

.shipping__label {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.shipping__flexrow {
  display: flex;
}

.shipping__text {
  font-size: 1rem;
  margin-top: 5px;
}

.shipping__optional {
  margin-top: 5px;
}

.checkbox {
  margin: 5px 5px 0 0;
}

.shipping__flexcol:last-of-type {
  margin-bottom: 10px;
}

/* cart items */
.cart p {
  font-size: 1.25rem;
}

.cart input {
  width: 100%;
}

.cart {
  order: -1;
  height: fit-content;
}

.cart__items {
  max-height: 600px;
  overflow: auto;
}

.cart__entry {
  margin-bottom: 10px;
}

.cart__image {
  width: 100%;
}

.cart__title {
  font-size: 1.5rem;
}

.cart__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart__total {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
}

.remove {
  width: 80px;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {
  .cart {
    order: 2;
    height: fit-content;
  }
}

@media (min-width: 1024px) {
  .shipping__title {
    font-size: 3rem;
  }
  .shipping__label {
    font-size: 2rem;
  }
  .shipping__text {
    font-size: 1.5rem;
  }
  .checkbox {
    margin: 10px 5px 0 0;
  }
  .cart__title {
    font-size: 2rem;
  }
  .cart p {
    font-size: 1.75rem;
  }
  .remove {
    font-size: 1.5rem;
  }

  .cart__total {
    font-size: 2.5rem;
  }
}
