.cart-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-top: 5px;
  margin: auto;
}

.shipping-info {
  display: block;
  width: 60%;
  height: 90vh;
  border: solid lightgrey;
}

.title {
  margin-left: 2%;
}

.shipping-element {
  margin-top: 3%;
  margin-left: 2%;
}
.couplet {
  display: flex;
  margin-top: 3%;
  margin-left: 2%;
}
.checkbox-text {
  color: grey;
  font-size: small;
}

.continue-to-payment-button {
  color: black;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  width: 50%;
  margin-left: 2%;
  margin-top: 3%;
  border: solid black;
  border-radius: 8px;
}

.continue-to-payment-button:hover {
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  width: 50%;
  margin-left: 2%;
  margin-top: 3%;
}

.header {
  display: flex;
  flex-basis: 100%;
  background-color: rgb(223, 219, 219);
}

.cart-entry {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  border-bottom: solid black;
}

.cart-items {
  display: block;
  width: 40%;
  height: 40vh;
  border: solid black;
}
.cart-img {
  width: 80px;
  height: 80px;
  margin-right: 5%;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
}

.edit {
  width: 80px;
  margin-top: 25px;
}

.remove {
  width: 80px;
}

.total {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.row {
  flex-basis: 100%;
}

.bold {
  font-weight: bold;
  margin-right: 5px;
}
