/* todo make responsive for larger screens */

.details {
  text-align: center;
  font-size: 1.3rem;
  gap: 3%;
}

.details__main__image {
  width: 90%;
  margin-top: 1%;
  border-radius: 10px;
  order: -1;
}

.details__image__options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: start;
}

.details__preview {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 10%;
}

.details__title {
  font-size: 3rem;
  margin-top: -1rem;
}

.details__description {
  font-size: 2rem;
  font-weight: 400;
}

/* .product-detail-img {
  width: 150%;
  height: 75vh;
}

.product-detail-container {
  display: flex;
  flex-wrap: nowrap;
}

.product-img-options {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  flex-basis: 20%;
  height: 40vh;
}

.img-preview {
  width: 100%;
  height: 25%;
  margin-bottom: 5px;
}

.img-preview:hover {
  cursor: pointer;
}

.add-to-cart-container {
  display: flex;
  margin-left: 30%;
  height: 7%;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  border: solid black 1px;
  width: 25%;
}

.increment-button {
  background-color: white;
  width: 90%;
  border: none;
}

.increment-text {
  width: 90%;
  align-self: center;
  text-align: center;
}

.add-cart-button {
  color: black;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  height: 100%;
  width: 150%;
  margin-left: 1em;
  border: solid black;
  border-radius: 8px;
}

.add-cart-button:hover {
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  height: 100%;
  width: 150%;
  margin-left: 1em;
  border: none;
}

.title {
  margin-bottom: 1em;
}

.description {
  font-size: large;
  margin-bottom: 2em;
  margin-left: 1.4em;
} */
