h1,
h2 {
  text-align: center;
}

.no-reviews {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.review {
  gap: 1% 0;
}

/* css for stars container on left of page */
.stars-container {
  width: 80%;
}

.star-component {
  display: flex;
}

.progress {
  width: 50%;
  margin-top: 0.5em;
}

.star-reviews {
  width: 20px;
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

/* css for right column of page */
.review-content {
  width: 100%;
}

.review-button {
  background: white;
  border-radius: 8px;
  border: solid black;
  color: black;
  font-size: medium;
  font-weight: bold;
  height: 30px;
  margin-top: 0.3em;
  max-width: 200px;
  text-align: center;
  text-decoration: none !important;
  width: 200px;
}

.review-button:hover {
  background: black;
  color: white;
}

.review-content-filters {
  display: flex;
  align-content: space-between;
  flex-wrap: nowrap;
}

#dropdown-basic-button {
  width: 275px;
  flex: 1;
  color: grey;
  font-weight: bold;
  background-color: white;
  border: solid grey;
  border-radius: 8px;
  border-width: 1px;
  margin: 1rem 0;
}

.feedback-container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  border-bottom: solid 1px grey;
}

.table-wrapper {
  width: 25%;
  margin: auto;
}

.feedback-table {
  width: 100%;
  margin-top: 50%;
}

td {
  border: 1px solid black;
}

.review-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.two-col {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.two-col > div:first-of-type {
  margin-right: 2rem;
}

.review-username {
  font-size: 2rem;
}

.review-comment {
  font-size: 1.7rem;
  text-align: start;
  width: 100%;
}

.helpful {
  color: blue;
  cursor: pointer;
  padding-right: 2rem;
  text-align: right;
  text-decoration: underline;
  width: 100%;
}

.p-review {
  color: grey;
}

@media (min-width: 768px) {
  p {
    font-size: 1.1rem;
  }
  .review-username {
    font-size: 2.5rem;
  }
  .review-comment {
    font-size: 2rem;
  }
  .helpful {
    font-size: 1.5rem;
  }
  .grid-cols-3 {
    grid-template-columns: 300px 1fr;
  }
  .review-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .review-flex:last-child {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .review-button {
    width: 150px;
  }
  #dropdown-basic-button {
    width: 185px;
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .review-button {
    width: 175px;
  }
  #dropdown-basic-button {
    width: 300px;
    font-size: 1.3rem;
  }
}
